@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --background-hover: #f2f2f2;
    --foreground: #20212c;

    --primary: #635fc7;
    --primary-hover: #a8a4ff;
    --primary-foreground: #fff;

    --secondary: #f4f7fd;
    --secondary-hover: #d8d7f1;
    --secondary-foreground: #635fc7;

    --destructive: #ea5555; /* Destructive button */
    --destructive-hover: #ff9898;
    --destructive-foreground: #fff;

    --dashboard-main-content-background: #f4f7fd;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --border: #e4ebfa;
    --input: 228, 235, 250;
    --ring: 99, 95, 199;
    --radius: 0.5rem;
  }

  .dark {
    --background: #2b2c37; /* Dark background */
    --background-hover: #3a3b47;
    --foreground: #fff;

    --primary: #635fc7;
    --primary-hover: #a8a4ff;
    --primary-foreground: #fff;

    --secondary: #fff;
    --secondary-hover: #d8d7f1;
    --secondary-foreground: #635fc7;

    --destructive: #ea5555;
    --destructive-hover: #ff9898;
    --destructive-foreground: #fff;

    --dashboard-main-content-background: #20212c;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --border: #3e3f4e;
    --input: 32, 33, 44;
    --ring: 168, 164, 255;
  }
}

@layer base {
  *,
  *::after,
  *::before {
    @apply box-border;
  }

  body {
    @apply m-0 bg-background p-0 font-sans text-foreground;
  }
}

@layer components {
  /* Sidebar */
  .sidebar-wrapper {
    @apply hidden h-full flex-shrink-0 overflow-y-auto border-r-[1px] border-borderColor bg-background md:flex md:min-w-[261px] md:flex-col md:justify-between lg:min-w-[300px];
  }

  .sidebar-link {
    @apply flex h-[48px] w-[240px] items-center gap-4 rounded-r-full text-heading-m font-[500] md:gap-[13px] md:pl-[24px] lg:w-[276px] lg:gap-[17px] lg:pl-[32px];
  }

  .sidebar-link-active {
    @apply bg-primary text-primary-foreground;
  }

  .sidebar-link-inactive {
    @apply text-mediumGray hover:rounded-r-full hover:bg-secondary hover:text-primary;
  }

  .sidebar-button {
    @apply flex items-center text-mediumGray hover:rounded-r-full hover:bg-secondary hover:text-primary;
  }
}
