@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #20212c;

    --primary: #635fc7;
    --primary-hover: #a8a4ff;
    --primary-foreground: #fff;

    --secondary: #f4f7fd;
    --secondary-hover: #d8d7f1;
    --secondary-foreground: #635fc7;

    --destructive: #ea5555; /* Destructive button */
    --destructive-hover: #ff9898;
    --destructive-foreground: #fff;

    --dashboard-main-content-background: #f4f7fd;

    --border: #e4ebfa;
    --input: 228, 235, 250;
    --ring: 99, 95, 199;
    --radius: 0.5rem;
  }

  .dark {
    --background: #2b2c37; /* Dark background */
    --foreground: #fff;

    --primary: #635fc7;
    --primary-hover: #a8a4ff;
    --primary-foreground: #fff;

    --secondary: #fff;
    --secondary-hover: #d8d7f1;
    --secondary-foreground: #635fc7;

    --destructive: #ea5555;
    --destructive-hover: #ff9898;
    --destructive-foreground: #fff;

    --dashboard-main-content-background: #20212c;

    --border: #3e3f4e;
    --input: 32, 33, 44;
    --ring: 168, 164, 255;
  }
}

@layer base {
  /** {
    @apply border-border;
  }*/
  body {
    @apply bg-background font-sans text-foreground;
  }
}
